<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'></script>
<script>
$(document).ready(function(){
get_dates();
$("#date_month").change(get_dates)
});
function get_dates()
{
// Get all the data's
  var mon = document.getElementById('date_month');
  var num_mon = parseInt(mon.value)-1;
  var year = 2012;
  var day = new Date(year,num_mon,1).getDay();
  var last_date= new Date(year,num_mon+1,0).getDate();
// put those in claender 
  for (var i=0,j=1;i<35;i++)
    {	if (i<day || j>last_date){
	$('#square'+i).html('');
	}
         else{
	$('#square'+i).html(j);
	j++;
	}	
    }
// if date starts from Saturday !!!
  if (j<=last_date)
   {
 	$('#monthly tr:last').after('<tr><td id="square35">30&nbsp;</td></tr>');
		j++;
   }
   else {
	$("#square35").remove();
 	}
//  if date starts from Sat and has 31 days !!!
   if (j<=last_date)
    {
 	$('#monthly tr:last').append('<td id="square36">31&nbsp;</td>');
 	j++;
    }
 
    else {
	$("#square36").remove();
 	}
}
</script>
