<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'></script>
<script>
$(function(){
get_dates()
});
function get_dates()
{
  //var mon = parseInt(<%= @month.to_i %>)
  var mon= document.getElementById('date_month');
// num_month => actual_month_in_Time.now - 1   
  var num_mon = parseInt(mon.value)-1;
  var year = parseInt(document.getElementById("date_year").value);
  var day = new Date(year,num_mon,1).getDay();
  var last_date = new Date(year,num_mon+1,0).getDate();
//getting exact data 
// put those in calender 
  //var i=0
  //var j=1
  <% j = 1 %>
  for (var i=0,j=1;i<35;i++)
    //{	
      if (i<day || j>last_date)
      {
	       $('#square'+i).html('');
      }
      else
      {
	       $('#square'+i).html('<a href=/day?date='+j+'&amp;month='+(num_mon+1)+'&amp;year='+year+'>'+j+'</a>');
         j++;
	     }	
    //}
if ($("#square35") != undefined)
$("#square35").remove();
if ($("#square36") != undefined)
$("#square36").remove();
// if date starts from Saturday !!!
  if (j<=last_date)
   {
 	$('#monthly tr:last').after('<tr><td id="square35"><a href=/day?date='+j+'&amp;month='+(num_mon+1)+'&amp;year='+year+'>'+j+'</a>&nbsp;</td></tr>');
		j++;
   }
//  if date starts from Sat and has 31 days !!!
   if (j<=last_date)
    {
 	$('#monthly tr:last').append('<td id="square36"><a href=/day?date='+j+'&amp;month='+(num_mon+1)+'&amp;year='+year+'>'+j+'</a>&nbsp;</td>');
 	j++;
    }
}
</script>
