<h1>Calender</h1>
<%= form_tag({:action => 'calender'} , :id => "sub_cal" , method: 'get' , remote: true ) do %>
<%= select_month @month.to_i %>
<%= select_year @year.to_i , options = {start_year: 2012} %>
<% end %>
<div id="linker"><%= render 'linker.js' %></div>
<div id="cal">
	<table id="monthly">
			<tr>
				<th>Sunday</th>
				<th>Monday</th>
				<th>Tuesday</th>
				<th>Wednesday</th>
				<th>Thursday</th>
				<th>Friday</th>
				<th>Saturday</th>
			</tr>
			<tr>
				<td id='square0'>&nbsp;</td>
				<td id='square1'>&nbsp;</td>
				<td id='square2'>&nbsp;</td>
				<td id='square3'>&nbsp;</td>
				<td id='square4'>&nbsp;</td>
				<td id='square5'>&nbsp;</td>
				<td id='square6'>&nbsp;</td>
			</tr>

			<tr>
				<td id='square7'>&nbsp;</td>
				<td id='square8'>&nbsp;</td>
				<td id='square9'>&nbsp;</td>
				<td id='square10'>&nbsp;</td>
				<td id='square11'>&nbsp;</td>
				<td id='square12'>&nbsp;</td>
				<td id='square13'>&nbsp;</td>
			</tr>

			<tr>
				<td id='square14'>&nbsp;</td>
				<td id='square15'>&nbsp;</td>
				<td id='square16'>&nbsp;</td>
				<td id='square17'>&nbsp;</td>
				<td id='square18'>&nbsp;</td>
				<td id='square19'>&nbsp;</td>
				<td id='square20'>&nbsp;</td>
			</tr>
			<tr>
				<td id='square21'>&nbsp;</td>
				<td id='square22'>&nbsp;</td>
				<td id='square23'>&nbsp;</td>
				<td id='square24'>&nbsp;</td>
				<td id='square25'>&nbsp;</td>
				<td id='square26'>&nbsp;</td>
				<td id='square27'>&nbsp;</td>
			</tr>
			<tr>
				<td id='square28'>&nbsp;</td>
				<td id='square29'>&nbsp;</td>
				<td id='square30'>&nbsp;</td>
				<td id='square31'>&nbsp;</td>
				<td id='square32'>&nbsp;</td>
				<td id='square33'>&nbsp;</td>
				<td id='square34'>&nbsp;</td>
			</tr>
		</table>
<<<<<<< .merge_file_IgQoqZ
	</div> 
=======
	</div>

>>>>>>> .merge_file_3plZT0
