<html>
<head>
<title>
Plannerace
</title>
<link type="text/css" rel="stylesheet" href="/home/ketan/Project/app/assets/stylesheets/pages.css.scss">
</head>
<body>
<image class="main" src="/home/ketan/Project/app/assets/images/box-logo.jpg">
</body>
</html>
