<div class="edils">
<%= render 'slider.js.erb' %>
<%= link_to 'Previous Image slide here' ,'#' , {id: 'previous' , onclck: "previous();" }%>
<%= link_to 'Next Image slide' , '#' , id: 'next' %>
<%= render 'inputs/signup_edit' %>
</div>
