/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
body
{
width: 1025;
position: relative;
background-color: #28d53f;
z-index: 1;
}
.main 
{
height: 300px;
width: 500px;
position: absolute;
left: 700px;
right: 100px;
top: 50px;
border-radius: 15px;
}

.input_label
{
margin-left: 100px;
color:#176F00;
font-size: 30px;
}

.input-box
{
margin-left: 100px;
font-size: 20px;
}

.input_label_
{
margin-left: 20px;
color:#176F00;
font-size: 30px;
}

.input_label_notaplanner
{
margin-left: 20px;
color:#176F00;
font-size: 20px;
}

.input-box_
{
margin-left: 20px;
font-size: 20px;
}


.nottub {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #54c44e), color-stop(1, #0c8a00) );
	background:-moz-linear-gradient( center top, #54c44e 5%, #0c8a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#54c44e', endColorstr='#0c8a00');
	background-color:#54c44e;
	moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	margin-left: 20px;
	color:#f0f0f0;
	font-family:Arial;
	font-size:19px;
	font-weight:normal;
	padding:6px 24px;
	text-decoration:none;
}.nottub:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0c8a00), color-stop(1, #54c44e) );
	background:-moz-linear-gradient( center top, #0c8a00 5%, #54c44e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0c8a00', endColorstr='#54c44e');
	background-color:#0c8a00;
}.nottub:active {
	position:relative;
	top:1px;
}
