// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body
{
width: 1025;
position: relative;
background-color: #28d53f;
z-index: 1;
}

#previous
{
width: 5px;
position: absolute;
left: 550px;
right: 100px;
top: 200px;
margin-left: 10px;
z-index: 5;
}
#next
{
width: 5px;
position: absolute;
left: 1050px;
right: 100px;
top: 200px;
margin-left: 10px;
z-index: 5;	
}

.main 
{
height: 300px;
width: 500px;
position: absolute;
left: 600px;
right: 100px;
top: 50px;
border-radius: 15px;
}

.knil
{
background-color: #F0FEEC;
font-style: bold;
margin-left: 10px;
text-font: Comic Sans;
text-decoration: none;
color: #176F00;
font-size: 30px;
z-index: 3;
-webkit-transition: 0.3s ease;
-moz-transition: 0.3s ease;
-o-transition: 0.3s ease;
-ms-transition: 0.3s ease;
transition: 0.3s ease;
}

.knil:hover
{
text-decoration: none;
border: solid 2px;

border-color: #46A12F;
border-radius: 15px;
padding:10px;
font-size: 30px;
margin:5px;
background-color:#28d53f;
color: #F0FEEC;
}
.knil:active
{
text-decoration: none;
border: solid,5px;
border-color: #46A12F;
padding:5px;
font-size: 30px;
margin:5px;
background-color:#28d53f;
color:white;
}
ul
{
border: solid 2px;
border-color: #46A12F;
border-radius: 15px;
background-color: #F0FEEC;
list-style-type:none;
margin:20px;
padding-left:20px;
} 
li
{
display:inline;
}
.below_nav
{
background-color: #F0FEEC;
position: absolute;
left: 10px;
right: 100px;
top: 50px;
margin-left: 10px;
width: 1117px; 
border: solid 2px;
border-color: #46A12F;
border-radius: 15px;
z-index: 3;
padding: 30px;
}
